<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Placed</title>
</head>
<body>
<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Order Has Been Placed</strong> and it will be processed soon. You'll be notified of status changes to your order.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" th:href="@{/}" role="button">Back to Homepage</a>
    </p>
</div>
</body>
</html>